name: matrix strategy workflow
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os}}
    strategy:
      fail-fast: false
      matrix:
          python-version: ['3.8', '3.9', '3.10']
          os: [ubuntu-latest, windows-latest, macos-latest]
          exclude:
            - os: macos-latest
    steps:  
      - name: checking out the code
        uses: actions/checkout@v6
      - name: setting up python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}